<!DOCTYPE html>

<html>
<head>
    <partial name="~/Views/AdminProducts/_HeadPartial.cshtml" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <partial name="~/Views/AdminProducts/_FooterPartial.cshtml" />
</body>
</html>
